
table {
  margin: 10% auto auto auto;
  border-collapse: collapse;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

td {
  width: 50px;
  table-layout: fixed;
  border: 1px solid;
}

th {
  border: 1px solid;
  background-color: #ddd;
  padding: 8px;
}

#m-tab {
  width: 500px;
  overflow-x: auto;
  overflow-y: hidden;
}
